*{
    margin: 0;
    padding: 0;
    font-family: 'Sigmar One', cursive;
}
body{
    background-color: #333333;
}

.container{
    height:100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .text p{
    color: #F2F2F2;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 30px;
}
.container .show img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
#pic2{
    display: none;
}
